block config
	-var title = '投资大师';
	-var jquery = '_jquery.min';
	-var css = 'tougu';
	-var js = "base";
doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="yes" name="apple-touch-fullscreen")
		meta(content="telephone=no,email=no" name="format-detection")
		script(src="/js/flexible.js")
		link(rel="stylesheet" href="/css/#{css}.css")
		script(src="/js/#{jquery}.js")
		script(src="/js/#{js}.js")
	body
		.p-content.p-w
			.h-tople
				a.f30(href="") 回到普通版
				span.f34#ademo 投资大师
			.h-tipc.cWhite.f28
				h3 尊敬的用户张三您好！
				dl
					dt
						a(href="")
							img.radius(src="/img/logoa.png")
					dd
						b.f36 
							a(href="") 投资大师
						span 专属策略、配置建议，稳健获利
						i
							a(href="") 
								img(src="/img/icon_right02.png")
			ul.h-dsicon.f26.ftc
				li#h-dsicon
					img(src="/img/icon_kefu.png")
					span 专属客服
				li
					a(href="")
						img(src="/img/icon_tel.png")
						span 电话会议
				li
					a(href="")
						img(src="/img/icon_dy.png")
						span 实地调研
				li
					a(href="")
						img(src="/img/icon_video.png")
						span 视频课堂
			h2.h-tit.f32.cOrange
				img(src="/img/icon_tzds.png") 
				| 投资大师股票池
			.h-gpList
				h2.titlev.ftc.cWhite.f24 中长线
				.f30.ftc.cGary(style="background:#fff;padding:30px 0;") 该股票池当前为空
				.list.cGray.f24
					dl
						dt.cRed.left
							b.f28 山东黄金 (005634)
							span 12.46
							span +1.23%
						dd.right 调入日期: 07-18
					ul
						li 介入区间: 
							span.cBlack 126.00-130.00
						li.ftr 目标区间: 
							span.cBlues 126.00-130.00
						li 止损区间: 
							span.cBlues 126.00-130.00
						li.ftr 
							i.cWhite 调入理由
					.txt
						span.cRed 调入理由：
						|弱势美元及全球安全形势持续恶化，黄金价格将处于中长期的上行区间，可以中长期持有，并大概率能够获得超预期收益。
				.list.cGray.f24
					dl
						dt.cGreen.left
							b.f28 山东黄金 (005634)
							span 12.46
							span +1.23%
						dd.right 调入日期: 07-18
					ul
						li 介入区间: 
							span.cBlack 126.00-130.00
						li.ftr 目标区间: 
							span.cBlues 126.00-130.00
						li 止损区间: 
							span.cBlues 126.00-130.00
						li.ftr 
							i.cWhite 调入理由
					.txt
						span.cRed 调入理由：
						|弱势美元及全球安全形势持续恶化，黄金价格将处于中长期的上行区间，可以中长期持有，并大概率能够获得超预期收益。
			.h-gpList
				h2.titlev.ftc.cWhite.f24 短线
				.list.cGray.f24
					dl
						dt.cRed.left
							b.f28 山东黄金 (005634)
							span 12.46
							span +1.23%
						dd.right 调入日期: 07-18
					ul
						li 介入区间: 
							span.cBlack 126.00-130.00
						li.ftr 目标区间: 
							span.cBlues 126.00-130.00
						li 止损区间: 
							span.cBlues 126.00-130.00
						li.ftr 
							i.cWhite 调入理由
					.txt
						span.cRed 调入理由：
						|弱势美元及全球安全形势持续恶化，黄金价格将处于中长期的上行区间，可以中长期持有，并大概率能够获得超预期收益。
				.list.cGray.f24
					dl
						dt.cGreen.left
							b.f28 山东黄金 (005634)
							span 12.46
							span +1.23%
						dd.right 调入日期: 07-18
					ul
						li 介入区间: 
							span.cBlack 126.00-130.00
						li.ftr 目标区间: 
							span.cBlues 126.00-130.00
						li 止损区间: 
							span.cBlues 126.00-130.00
						li.ftr 
							i.cWhite 调入理由
					.txt
						span.cRed 调入理由：
						|弱势美元及全球安全形势持续恶化，黄金价格将处于中长期的上行区间，可以中长期持有，并大概率能够获得超预期收益。
			.h-trtc.f24
				h2.f28 最近调入调出记录
				ul.titl
					li.w194 股票名称
					li.w100 日期
					li.w346 公告内容
				ul.list
					li.w194 
						a(href="") 山东黄金 
					li.w100 06-24
					li.w346 弱势美元及全球安全全形弱势美元及全球安全全形弱势美元及全球安全全形
				ul.list
					li.w194 山东黄金 
					li.w100 06-24
					li.w346 弱势美元及全球安全全形弱势美元及全球安全全形弱势美元及全球安全全形
			.h-kuaixun
				.h-tit2
					h2.f32
						img(src="/img/icon_news.png")
						span.cOrange 投资大师专属快讯
						a(href="").f30.cGray.right 查看更多>
				.list.cBlack
					a(href="")
						.tip.f28
							span 今日，股指低开杀跌，单日大阴之下，已连续两个交易日大跌，累计近200点的跌幅。
							img(src="/img/174-130.jpg")
					dl.bottom.f24
						dt.left
							a(href="")
								img(src="/img/logoa.png")
								span 投资大师
								i 产品
						dd.cGray.right 今天 9:00
				.list.cBlack
					a(href="")
						.titx.f28
							span 今日，股指低开杀跌，单日大阴之下，已连续两个交易日大跌，累计近200点的跌幅。
					dl.bottom.f24
						dt.left
							a(href="")
								img(src="/img/logoa.png")
								span 投资大师
								i 产品
						dd.cGray.right 今天 9:00
			.h-juejin
				.h-tit2
					h2.f32
						img(src="/img/icon_jj.png")
						span.cOrange 机构数据掘金
						a(href="").f30.cGray.right 查看更多>
				table.f26.ftc
					tr
						th 股票简称
						th 股票代码
						th 评级机构
						th 评级
						th 预期空间
					tr
						td 正泰电器
						td 601877
						td 安信证券
						td 买入
						td 60%
					tr
						td 正泰电器
						td 601877
						td 安信证券
						td 买入
						td 60%



		dl.fc-floating.ftc
			dt
				b.f32 提示
				span.f26 确定拨打电话：400-633-5058
			dd.f32.cBlue
				span 取消
				a(href="tel:4006335058") 呼叫
		ul.pub-downmenu.none#pub-downmenu
			li(data-val="投资大师") 投资大师
			li(data-val="短线金") 短线金
			li(data-val="投顾专享") 投顾专享
			li(data-val="更多产品") 
				a(href="") 更多产品>
		.WINBG
			div
		.WINBGY
			div
		script.
			floating($("#h-dsicon"),$(".fc-floating"),$(".WINBG"))
			downMenug($("#pub-downmenu"),$("#ademo"),$(".WINBGY"),function(element){
				//alert(element.data("val"));
			})
