block config
	-var title = '一致预期';
	-var jquery = '_jquery.min';
	-var css = 'thigh';
	-var js = "thigh";
doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="yes" name="apple-touch-fullscreen")
		meta(content="telephone=no,email=no" name="format-detection")
		script(src="js/flexible.js")
		link(rel="stylesheet" href="css/#{css}.css")
		script(src="/js/#{jquery}.js")
		script(src="/js/#{js}.js")
	body.body-bg
		.p-titp.cWhite
			h2.f34.line88 一致预期
			a(href="").t-arrow
		.p-yjyList
			.py-tip.cWhite
				a(href="")
					img(src="/img/img.jpg")
					b.f28 中央经济工作会议
			.py-listv.cWhite
				.top
					a(href="")
						dl
							dt
								img(src="/img/img.jpg")
							dd
								b.f30 今日，股指低开杀跌，单日大阴之下，已连续两个交易日大跌，累计日。
								span.f24 2016/5/24
						p.f28 弱市行情下，传统的追涨策略已经失效，更多股票陷入“一买就跌，一卖就涨”的恶性循坏，低吸无疑是更好的策略，但如何选择低吸的及合适的时点价位…
				-for(var i=0;i<5;i++)
					dl
						dt
							img(src="/img/img.jpg")
						dd
							b.f30 今日，股指低开杀跌，单日大阴之下，已连续两个交易日大跌，累计日。
							span.f24 2016/5/24




