block config
	-var title = '投资大师';
	-var jquery = '_jquery.min';
	-var css = 'tougu';
doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="yes" name="apple-touch-fullscreen")
		meta(content="telephone=no,email=no" name="format-detection")
		script(src="/js/flexible.js")
		link(rel="stylesheet" href="/css/#{css}.css")
		script(src="/js/#{jquery}.js")
	body
		.p-content.p-w
			dl.cp-introduce
				dt.f34
					a(href="")
						img(src="/img/logoa.png")
						span 短线金
				dd.cWhite
					i.red.f30 订阅
					span.f20.cRed 新动态马上通知
			.cp-content.f32
				p 产品特点：
				p 投资策略每周提供，风格相对积极，配置建议均衡；
				p 适用客户：
				p 风险承受能力高，稳健型、相对积极型客户
				p 组合策略：
				p 根据上市公司研究和价值遴选为基础，结合市场趋
				img(src="/img/img.jpg")
				p 势及热点动向，通过模型筛选，找到主力资金、机构喜欢介入，具有操盘机会品种，遵循动态建仓及止盈止损的原则，努力实现边际效益的最大化。
		script.
			!function(){
				var cpList = $('.cp-introduce')
				cpList.on('click','i',function(){
					var _this = $(this)
					if(_this.hasClass('red')){
						_this.removeClass('red')
						_this.text('已订阅')
					}
				})
			}()


