block config
	-var title = '行情－自选股';
	-var jquery = '_jquery.min';
	-var css = 'thigh';
	-var js = "thigh";
doctype html
html
	head
		title #{title}
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(content="yes" name="apple-mobile-web-app-capable")
		meta(content="yes" name="apple-touch-fullscreen")
		meta(content="telephone=no,email=no" name="format-detection")
		script(src="js/flexible.js")
		link(rel="stylesheet" href="css/#{css}.css")
		script(src="/js/#{jquery}.js")
		script(src="/js/#{js}.js")
	body
		.p-content.p-w
			.m-titp
				a.t-search(href="") 
				ul
					li
						a(href="") 自选股
					li.cWhite
						a(href="") 沪深
					li
						a(href="") 综评
			.m-shichang
				ul.hQ-shoping
					li
						a(href="")
							i 上证指数
							em.cRed 21657.47
							span -145.71 -0.67%
					li
						a(href="")
							i 深证成指
							em.cGreen 21657.47
							span -145.71 -0.67%
					li
						a(href="")
							i 创业板指
							em.cRed 21657.47
							span -145.71 -0.67%
			.m-hylist
				.m-paixu
					h2.f32 行业涨幅
					table(style="display:table;")
						tr
							th 行业名称
							th
								i.rise 涨跌幅
							th 领涨股
			.m-paixu
				table.mg9(style="display:table;")
					-for(var i=0;i<13;i++)
						tr
							td 航空运输1
								a.click(href="")
							td.cRed +2.42％
							td 
								a(href="") 南方航空
						tr
							td 航空运输
								a.click(href="")
							td.cGreen +2.42％
							td 
								a(href="") 南方航空







